@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
body {
  background: #F3F5FC;
  font-size: 1rem;
  min-height: 100vh;
  margin:0;
  display: flex;
  flex-direction: column;
}
  .logo{
    position: absolute;
    margin-top: 3.91%;
    left: 3%;
    width: 8.33%;  
    height: 4.69%;
  
  }
  .presentacion{
    flex: 1;
    display: flex;

  }
  .presentacion_contenido{
    margin-top: 5%;
    width:63.89%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .presentacion_texto{
    border:none;
    width: 74%;
    height: 63.57%;
    margin-top: 7.81%;
    margin-left: 26%;
    margin-bottom: 1.95%;
    font-size: 2rem;
    line-height: 48px;
    font-weight: 400;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    color: #0A3871;
    resize: none; 
  }
  .presentacion_texto::placeholder{
    color:#0A3871;
  }
  .presentacion_alerta{
    display: flex;
    align-items: center;
    width: auto;
    height: 1.76%;
    margin-top: 1.56%;  
    margin-left: 26%;
    margin-bottom: 1.56%;
   }

  .mensaje_advertencia{
    opacity: 80%;
    font-size:0.75rem;
    margin-left: 8px;
    color: #495057;
    line-height: 18px;    
  }
  .presentacion_botones{
    display: flex;
    justify-content:center;
    width: 73.91%;
    height: 8.0%;
    margin-left: 26%;
    margin-bottom: 9.5%;


  }
  .boton_encriptar,
  .boton_desencriptar {
    width: 48%;
    height: 100%;
    text-align: center;
    border-radius: 24px;
    font-size: 1rem;
    font-weight: 400;
    border:2px solid #718BAC;
    cursor: pointer;
    
  }
  .boton_encriptar {
    background-color: #0A3871;
    color: #ffffff;
  }

  .boton_encriptar:hover{
    background-color: #D8DFE8;
    color:#2204fd;

  }
  .boton_desencriptar{
    background-color: #D8DFE8;
    color:#57769D;
    margin-left: 24px;
  }

  .boton_desencriptar:hover{
    background-color: #ffffff;

  }
 .presentacion_rectangulo{
  background-color:#ffffff;
  width: 27.78%;
  margin: 2.15% 2.78% 2.15% 5.56%;
  padding: 3.39%;
  border-radius: 32px;
  box-shadow: 0px 24px 32px 8px rgb(0, 0, 0, 0.10);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;

}

 .presentacion_rectangulo_resultado{
    background-color:#ffffff;
    width: 27.78%;
 
    margin: 2.15% 2.78% 2.15% 5.56%;
    padding: 3.39%;
    border-radius: 32px;
    box-shadow: 0px 24px 32px 8px rgb(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
  
  .mostrar {
    display: flex; 
  }
  .imagen{
    margin: 22.35% 8% 3.39% 8%;
    height: 32.20%;
    width: 84%;
  }
  .muñeco{
    width: 100%;
    height: 100%;
  }
  .presentacion_rectangulo_texto{
    width: 84%;
    margin-bottom: 23.73%;
   
  }

  h3{
  
    height: 48%;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: #343A40;
    line-height: 28.8px;
  }
  p{
 
    height: 39%;
    font-size:1rem;
    font-weight:400;
    text-align: center;
    color: #495057;
    line-height: 24px;
    margin-top: 13%;
  }

  .mensaje{
    width: 84%;
    height: 82.73%;
    cursor: text;
    resize: none;
    border: none;
    font-size:1.5rem;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 3.39%;
  }
  .mensaje:focus{
    outline: none;
  }
  .copy{

    display: flex;
    justify-content:center;
    height: 9%;
    
  }

  .copiar{
    width: 100%;
    border-radius: 24px;
    background-color: #ffffff;
    color:#0A3871;
    font-size: 1rem;
    font-weight: 400;
    border:1px solid #0A3871;
    cursor: pointer;
    line-height: 19.36px;
  }
    


  .copiar:hover{
    background-color: #0A3871;
    color:#ffffff;

  }
  .ocultar{
    display: none; 
  }
 
  .footer{
    background-color: #11014b;
    color: #ffffff;  
    width: 100%;
    height: 3.52%;
    display:flex;
    align-items:center; 
    justify-content:center;
    gap: 5px;
  }
  h4{
    font-size: 0.625rem;
    font-weight: 200;
    color: #ffffff;  
   
  }
  